@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  font-family: "Advent Pro", sans-serif;
  padding: 0;
  margin: 0;
  background: url(./fond2.png) center/cover no-repeat;
  height: 93vh;
}

/************************NavBar**************************/

nav {
  overflow: hidden;
  background-color: #490d0d;
  width: 100%;
  opacity: 0.9;
  padding: 0;
  margin: 0px;
  height: 60px;
  cursor: pointer;
}

li {
  font-size: 2em;
  float: right;
  display: block;
  text-align: center;
  padding: 0px 70px;
  color: beige;
}

.Rocketter {
  position: relative;
  font-size: 2em;
  color: rgb(255, 255, 255);
  max-width: 10px;
  padding: 0px 110px;
}

h1 {
  font-size: 7.1em;
  color: antiquewhite;
  margin-left: 150px;
  margin-bottom: 10px;
}

p {
  font-size: 1.8em;
  color: antiquewhite;
  margin-left: 150px;
  margin-top: 10px;
}

main {
  height: 0;
  margin-left: 150px;
}

h4 {
  font-size: 1.2em;
  color: antiquewhite;
  position: relative;
  margin: 0%;
  max-height: 3px;
}

.conctate {
  padding: 10px;
  margin-left: 0px;
}

#mail {
  background-color: #621818;
  border: none;
  padding: 15px 90px;
  border-radius: 15px;
  text-align: center;
  font-size: 1.5em;
  color: aliceblue;
}

#Button {
  border: none;
  padding: 15px 80px;
  margin: 45px;
  font-size: 1.5em;
  border-radius: 15px;
  background-color: #0c5e66;
  color: aliceblue;
  cursor: pointer;
  transition: 0.7s;
}

#Button:hover {
  letter-spacing: 4px;
}

#Button:active {
  transform: scale(1.6);
}
